%h1
  Edit Idea
%form.edit_idea{id: "edit_idea_#{idea.id}", accept: {charset:"UTF-8"}, action: "/ideas/#{idea.id}", enctype: "multipart/form-data", method:"post" }
  = haml :form, locals: {form: "edit", idea: idea}
%a{href: "/ideas"} Back
|
%a{href: "./ideas/#{idea.id}"} Show
