%h1 Listing ideas

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - ideas.each do |idea|
    %tr
      %td
        = idea.title
      %td
        = idea.description
      %td
        %a{href: "/ideas/#{idea.id}"} Show
      %td
        %a{href: "/ideas/#{idea.id}/edit"} Edit
      %td
        %a{href: "/ideas/#{idea.id}/delete"} Delete
%br

%a{href: "/ideas/new"} New Idea
