!!!
%html
  %head
    %title Ideas[rbgirls]
    %link{href:'//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', rel: 'stylesheet'}
  %body.container
    %h1
      = @title
    = yield
