%h1
  Edit Idea
%form.new_idea#new_idea{accept: {charset:"UTF-8"}, action: "/ideas", enctype: "multipart/form-data", method:"post" }
  = haml :form, locals: {form: "new", idea: idea}
%a{href: "/ideas"} Back
