.row
  .col-md-3
    %p
      %b
        Name
      = idea.title
    %p
      %b
        Description
      = idea.description
    %p
      %a{href: "/ideas/#{idea.id}/edit"} Edit
      |
      %a{href: "/ideas/#{idea.id}/delete"} Delete
      |
      %a{href: "/ideas"} Back
